/** @format */
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
.search {
  border-bottom: 1px solid gray;
  font-family: sans-serif, 'Arial Narrow';

  .searchForm {
    padding: 10px;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      background-color: transparent;
      border: none;
      color: white;
      outline: none;
      @include tablet {
        width: 70px;
      }

      &::placeholder {
        color: lightgrey;
      }
    }
  }
  .userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;

    .userChatInfo {
      span {
        @include tablet {
          display: none;
        }
      }
    }

    &:hover {
      background-color: #2f2d52;
      transition: ease-in-out 1s;
    }

    img {
      background-color: #ddddf7;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
